.grayedOut {
    width: 170px;
    height: 50px;
    color: black;
    background-color: grey;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.timeButton {
    width: 170px;
    height: 50px;
    color: white;
    background-color: #ff6161;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.lunchHeader {
    text-align: left;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 27px;
}

.highlight {
    color: #ff6161;
    text-decoration: underline;
}

.highlight_cc {
    color: green;
    text-align: right;
}